body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 175px;
}

table tr td {
  padding: 0;
  transition: 300ms ease all;
  font-family: arial, sans-serif;
  -moz-transition: 300ms ease all;
  -webkit-transition: 300ms ease all;
}

.content {
  width: 100%;
  height: 100%;
}

.controls, .footer {
  width: 100%;
  font-size: 12px;
  border-spacing: 0;
}

.controls {
  height: 100%;
  table-layout: fixed;
}

.footer {
  height: 38px;
  border-top: solid 1px rgba(0,0,0,0.1);
}

#ON {
  background: url(start.png) no-repeat center center;
  background-size: 100px;
  cursor: pointer;
  height: 100%;
}

#OFF {
  background: url(stop.png) no-repeat center center;
  background-size: 100px;
  cursor: pointer;
  height: 100%;
}

#support {
  background: url(support.png) no-repeat center center;
  background-size: 22px;
  cursor: pointer;
  width: 48px;
}

#install {
  background: url(install.png) no-repeat center center;
  background-size: 22px;
  cursor: pointer;
  width: 48px;
}

#status {
  height: 36px;
  color: #58316b;
  font-weight: bold;
  user-select: none;
  text-align: center;
  background-color: rgba(0,0,0,0.05);
}

#ON:hover, #OFF:hover,
#install:hover, #support:hover {
  background-color: rgba(0,0,0,0.1) !important;
}

#ON, #OFF {border-bottom: solid 1px transparent}
#ON[type="active"], #OFF[type="active"] {border-bottom: solid 1px #7c4698}
